@model List<Discount>
@{
    ViewData["Title"] = "Discount";
    Layout = "_HomeLayout";
}
<script >
    @{
        int index = 4;
    }
    $(document).ready(function() {
        $("#navs").children().eq(@index).addClass("active")
    });
</script>

<table class="table" >
	<thead>
		<tr>
			<th>Item</th>
			<th>Discount percentage</th>
			<th>Start date</th>
			<th>End date</th>
			<th>Delete</th>
		</tr>
	</thead>
	<tbody>
		@if (Model.Any())
{
			@foreach (Discount discount in Model)
			{
				<tr>
					<td>@discount.ItemId</td>
					<td>@discount.DiscountPercentage </td>
					<td>@discount.Startdate.ToLongDateString()</td>
					<td>@discount.Enddate.ToLongDateString()</td>
					<td><a href=@($"/Admin/DeleteDiscount/{discount.Iddiscount}") class="btn btn-primary">Delete</a></td>
				</tr>
				@discount.DiscountPercentage
			}
		}
		else
		{
			<tr>No discounts have been found!</tr>
		}
		
	
	</tbody>
</table>


<div class="btn-group" role="group" aria-label="Create">
    <a href="/Admin/DiscountCreateView" class="btn btn-primary">Create</a>
</div>