@using PolyRushWeb.DA
@using PolyRushLibrary
@model PolyRushLibrary.UserDTO?
@{
    Layout = "~/Views/Shared/_HomeLayout";
}

<script >
@{
    int index = 1;
}
$( document ).ready(function() {
    $("#navs").children().eq(@index).addClass("active")
});
</script>
<style>
    #leaderboardsbackground{
        padding: 1em;
    }
    .leaderboardTable{
        margin: 0 2rem
    }
    td{
        color: var(--bs-body-color);
        text-shadow: 0 0 1px rgba(50,251,226,.6),0 0 3px rgba(50,251,226,.5),0 0 .5rem rgba(50,251,226,.3),0 0 2rem rgba(50,251,226,.2):
    }
</style>

@{
    List<UserDTO>? topUsers = ViewData["TopUsers"] as List<UserDTO>;
    List<UserPlaytime>? topPlayTimes = ViewData["TopPlaytimes"] as List<UserPlaytime>;
    if (topUsers == null) throw new ArgumentNullException("Topusers not found in view!");
    if (topPlayTimes == null) throw new ArgumentNullException("TopPlaytimes not found in view!");
}

<h1>Leaderboard</h1>
<div id="leaderboardsbackground">

    <div id="leaderboards" class="container">
        <div class="row m-0">
            <table class="table table-dark table-hover leaderboardTable" style="max-width:400px; margin-left: 0px">

            <caption style="caption-side: top; text-align:center; margin:auto; user-select:none">Top score</caption>
            <tbody>
            @{List<UserDTO>? listTopHighscore = topUsers; }
                @for (int i = 1; i <= @listTopHighscore.Count; i++)
                {
                    UserDTO user = listTopHighscore[@i-1];
                    <tr style="user-select:none">
                        <td>@i</td>
                        <td><img style="user-select:none; max-width: 20px" src="/img/user/@{@user.ID.ToString()}.png"/></td> 

                        <td>@user.Username</td>
                        <td>@user.Highscore</td>
                    </tr>
                }
            </tbody>

            </table>
            <table class="table table-dark table-hover leaderboardTable" style="max-width:400px">

            <caption style="caption-side: top; text-align:center; margin:auto; user-select:none">Top playtime</caption>
            <tbody>
            @{List<UserPlaytime>? listPlaytime = topPlayTimes; }
                @for (int i = 1; i <= @listPlaytime.Count; i++)
                {
                    UserPlaytime pt = @listPlaytime[@i-1];
                    <tr style="user-select:none">
                        <td>@i</td>
                        <td><img style="user-select:none; max-width: 20px" src="/img/user/@{@pt.User.ID.ToString()}.png"/></td> 

                        <td>@pt.User.Username</td>
                        <td>@String.Format("{0:%h} hours, {0:%m} minutes, {0:%s} seconds", pt.Playtime)</td>
                    </tr>
                }
            </tbody>

            </table>
        </div>
    </div>
</div>